<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页 - Exence</title>
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
    <link rel="stylesheet" href="//cdn.bootcdn.net/ajax/libs/reseter.css/2.0.0/reseter.min.css">
    <script src="//unpkg.com/vue@3"></script>
    <script src="//unpkg.com/element-plus"></script>
    <script src="//cdn.bootcdn.net/ajax/libs/axios/1.9.0/axios.min.js"></script>

    <style>
        body {
            background: #fafafa;
        }
        * {
            /* box-sizing: border-box; */
        }
        #header {
            border-bottom: 1px solid #eaeaea;
            padding: 6px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: white;
        }
        #header > .brand > img {
            height: 48px;
        }
        #header > .nav {
            display: flex;
            gap: 20px;
            font-size: 14px;
        }
        #footer {
            font-size: 14px;
            color: #6c6c6c;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
        }
        #field {
            padding: 90px 40px 40px 40px;
            border-radius: 10px;
            background: linear-gradient(30deg, #0072ff, #3ba1ff);
            color: white;
            margin-bottom: 20px;
        }
        #field > .title {
            font-size: 26px;
            font-weight: bold;
        }
        #field > .subtitle {
            font-weight: 300;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-container>
            <el-header style="padding: 0;">
                <div id="header">
                    <div class="brand">
                        <img src="/assets/images/exence.svg" alt="Exence">
                    </div>
                    <div class="nav">
                        <el-link type="primary" href="https://github.com/imkysou/exence" target="_blank">Github</el-link>
                        <span>v1.0</span>
                    </div>
                </div>
            </el-header>
            <el-main id="main">
                <div id="field">
                    <div class="title">Exence</div>
                    <div class="subtitle">欢迎您使用 Exence 产品，今天又是美好的一天呢！</div>
                </div>
                <el-row :gutter="10">
                    <el-col :sm="24" :md="12">
                        <el-card>
                            <template #header>
                                <b>服务器</b>
                            </template>
                            <el-button type="primary" @click="handlerClickInsertServer">创建服务器</el-button>
                            <el-table :data="serversData">
                                <el-table-column prop="ID" label="ID" width="50"></el-table-column>
                                <el-table-column prop="name" label="名称" width="120"></el-table-column>
                                <el-table-column prop="plugin" label="插件"></el-table-column>
                                <el-table-column prop="filepath" label="SQLite 文件"></el-table-column>
                                <el-table-column prop="email_verify" label="邮箱验证"></el-table-column>
                                <el-table-column prop="serverip" label="服务器IP"></el-table-column>
                                <el-table-column fixed="right" label="操作">
                                    <template #default="scope">
                                        <el-button @click="handlerClickChangeServer(scope.row)" link type="primary" size="small">修改</el-button>
                                        <el-button @click="handlerServerDelete(scope.row)" link type="danger" size="small">删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-card>
                    </el-col>
                    <el-col :sm="24" :md="12">
                        <el-card>
                            <template #header>
                                <b>模板数据</b>
                            </template>
                            <el-button type="primary" @click="createConfig">创建数据</el-button>
                            <el-table :data="configsData">
                                <el-table-column prop="ID" label="ID" width="50"></el-table-column>
                                <el-table-column prop="name" label="名称" width="120"></el-table-column>
                                <el-table-column prop="data" label="数据"></el-table-column>
                                <el-table-column fixed="right" label="操作">
                                    <template #default="scope">
                                        <el-button @click="handlerConfigChange(scope.row)" link type="primary" size="small">修改</el-button>
                                        <el-button @click="handlerConfigDelete(scope.row)" link type="danger" size="small">删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-card>
                    </el-col>
                </el-row>
            </el-main>
            
            <el-footer>
                <div id="footer">
                    由 <el-link type="primary" target="_blank" href="https://github.com/imkysou/exence">Exence</el-link> 强力驱动
                </div>
            </el-footer>
        </el-container>
        <el-dialog v-model="showChangeServerDialog" :title="changeServerDialogPretitle+'服务器'">
            <el-form>
                <el-form-item label="名称">
                    <el-input v-model="sName"></el-input>
                </el-form-item>
                <el-form-item label="插件">
                    <el-select v-model="sPlugin">
                        <el-option label="AuthMe" value="AuthMe"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="SQLite 文件地址">
                    <el-input v-model="sFilepath"></el-input>
                </el-form-item>
                <el-form-item label="邮箱验证">
                    <el-select v-model="sEmailVerify">
                        <el-option label="开启(1)" value="1"></el-option>
                        <el-option label="关闭(0)" value="0"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="服务器IP">
                    <el-input v-model="sServerip"></el-input>
                </el-form-item>
            </el-form>
            <template #footer>
                <el-button @click="showChangeServerDialog = false">取消</el-button>
                <el-button type="primary" @click="handlerServerChange">修改</el-button>
            </template>
        </el-dialog>
    </div>
</body>
<script>
    const App = {
        data() {
            return {
                configsData: [],
                serversData: [],
                sName: "",
                sPlugin: "",
                sFilepath: "",
                sEmailVerify: 0,
                sServerip: "",
                sId: 0,
                showChangeServerDialog: false,
                changeServerDialogPretitle: "修改"
            }
        },
        methods: {
            getConfigsData() {
                axios.get("/api/admin/configs").then(res => {
                    console.log(res);
                    if (res.data.code == 0) {
                        this.configsData = res.data.data || [];
                        console.log(this.configsData)
                    } else {
                        ElementPlus.ElMessage.error('获取配置失败，' + res.data.msg);
                    }
                })
            },
            getServersData() {
                axios.get("/api/admin/servers").then(res => {
                    console.log(res);
                    if (res.data.code == 0) {
                        this.serversData = res.data.data || [];
                        console.log(this.serversData)
                    } else {
                        ElementPlus.ElMessage.error('获取服务器失败，' + res.data.msg);
                    }
                })
            },
            handlerConfigChange(row) {
                ElementPlus.ElMessageBox.prompt('请输入新的数据', '修改数据', {
                    confirmButtonText: '修改',
                    cancelButtonText: '取消'
                }).then(({ value }) => {
                    let formData = new URLSearchParams();
                    formData.append("name", row.name);
                    formData.append("data", value);
                    axios.post("/api/admin/updateConfig", formData).then(res => {
                        if (res.data.code == 0) {
                            ElementPlus.ElMessage.success('修改成功');
                            this.getConfigsData();
                        } else {
                            ElementPlus.ElMessage.error('修改失败，' + res.data.msg);
                        }
                    }).catch(error => {
                        ElementPlus.ElMessage.error('修改失败，网络错误');
                    })
                }).catch()
            },
            handlerConfigDelete(row) {
                ElementPlus.ElMessageBox.confirm('此操作将永久删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消'
                }).then(() => {
                    let formData = new URLSearchParams();
                    formData.append("name", row.name);
                    axios.post("/api/admin/delConfig", formData).then(res => {
                        if (res.data.code == 0) {
                            ElementPlus.ElMessage.success('删除成功');
                            this.getConfigsData();
                        } else {
                            ElementPlus.ElMessage.error('删除失败，' + res.data.msg);
                        }
                    }).catch(error => {
                        ElementPlus.ElMessage.error('删除失败，网络错误');
                    })
                })
            },
            createConfig() {
                ElementPlus.ElMessageBox.prompt('请输入数据（数据名和数据之间使用英文:隔开，如a:b）', '创建数据', {
                    confirmButtonText: '创建',
                    cancelButtonText: '取消'
                }).then(({ value }) => {
                    if (value.indexOf(":") == -1) {
                        ElementPlus.ElMessage.error('数据格式错误');
                        return;
                    }
                    let formData = new URLSearchParams();
                    formData.append("name", value.split(":")[0]);
                    formData.append("data", value.split(":")[1]);
                    axios.post("/api/admin/insertConfig", formData).then(res => {
                        if (res.data.code == 0) {
                            ElementPlus.ElMessage.success('创建成功');
                            this.getConfigsData();
                        } else {
                            ElementPlus.ElMessage.error('创建失败，' + res.data.msg);
                        }
                    }).catch(error => {
                        ElementPlus.ElMessage.error('创建失败，网络错误');
                    })
                }).catch()
            },
            handlerClickChangeServer(row) {
                this.showChangeServerDialog = true;
                this.changeServerDialogPretitle = "修改";
                this.sName = row.name;
                this.sPlugin = row.plugin;
                this.sFilepath = row.filepath;
                this.sEmailVerify = row.email_verify;
                this.sServerip = row.serverip;
                this.sId = row.ID;
            },
            handlerServerChange() {
                let formData = new URLSearchParams();
                if (this.changeServerDialogPretitle == "修改") formData.append("id", this.sId);
                formData.append("name", this.sName);
                formData.append("plugin", this.sPlugin);
                formData.append("filepath", this.sFilepath);
                formData.append("email_verify", this.sEmailVerify);
                formData.append("serverip", this.sServerip);
                axios.post(`/api/admin/${this.changeServerDialogPretitle == "修改" ? 'update' : 'insert'}Server`, formData).then(res => {
                    console.log(res.data);
                    if (res.data.code == 0) {
                        ElementPlus.ElMessage.success(this.changeServerDialogPretitle + '成功');
                        this.getServersData();
                    } else {
                        ElementPlus.ElMessage.error(this.changeServerDialogPretitle + '失败，' + res.data.msg);
                    }
                }).catch(error => {
                    ElementPlus.ElMessage.error(this.changeServerDialogPretitle + '失败，网络错误');
                })
                this.showChangeServerDialog = false;
            },
            handlerServerDelete(row) {
                ElementPlus.ElMessageBox.confirm('此操作将永久删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消'
                }).then(() => {
                    let formData = new URLSearchParams();
                    formData.append("id", row.ID);
                    axios.post("/api/admin/delServer", formData).then(res => {
                        if (res.data.code == 0) {
                            ElementPlus.ElMessage.success('删除成功');
                            this.getServersData();
                        } else {
                            ElementPlus.ElMessage.error('删除失败，' + res.data.msg);
                        }
                    }).catch(error => {
                        ElementPlus.ElMessage.error('删除失败，网络错误');
                    })
                })
            },
            handlerClickInsertServer() {
                this.showChangeServerDialog = true;
                this.changeServerDialogPretitle = "创建";
                this.sName = "";
                this.sPlugin = "";
                this.sFilepath = "";
                this.sEmailVerify = "";
                this.sServerip = "";
                this.sId = "";
            }
        },
        mounted() {
            // 检测用户登录状态
            axios.get("/api/admin/state").then(res => {
                console.log(res);
                if (res.data.code == 1) {
                    ElementPlus.ElMessage.error('请先登录');
                    window.location.href = "../index.html";
                }
            })
            this.getConfigsData();
            this.getServersData();
        }
    }
    const app = Vue.createApp(App);
    app.use(ElementPlus);
    app.mount('#app');
</script>
</html>